 #menu {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    background: none;
    font-size: 2rem;
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✕";
}

/* Hide links on small screens */
 nav {
    display: none;
}

/* Show links after the button is clicked */
nav.open {
    display: flex;
    flex-direction: column;
    gap: 1rem;
} 

nav a.active {
    font-weight: bold;
    text-decoration: underline;
    color: darkblue;
} 

/* Add */
body {
    background-color: white;
    color: black;
}

h1 {
    color: black;
}

nav {
    background-color: #333;
}

nav a {
    color: white;
    text-decoration: none;
}

h2 {
    color: #070b99;
}

/* Add this class to the empty decorative box below “About Us Page” */
.decoration {
    width: 70%;
    height: 250px;
    margin: 25px auto;
    background-color: #b5ecdf;
    border: 1px solid #9bd5c7;
} 


 
