@media screen and (min-width: 700px) {
    .header-content {
        flex-wrap: nowrap;
    }

    .menu-button {
        display: none;
    }

    nav {
        display: flex;
        width: auto;
        padding: 0;
        flex-direction: row;
        gap: 0.25rem;
    }

    nav a {
        padding: 0.55rem 0.7rem;
    }

    .album {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.75rem;
    }
}

/* @media screen and (min-width: 1000px) {
    .album {
        grid-template-columns: repeat(4, 1fr);
    }
} */